<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        .errorMsg {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Login Page</h1>

    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Company Name:</label>
        <input type="text" name="username" id="username">
        <br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <br><br>

        <input type="submit" name="login" value="Login">

        <div class="errorMsg">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    </form>

    <br>
    <span>Don't have an account? </span>
    <a href="{% url 'register' %}">SignUp</a>
</body>

</html>