<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <style>
        .errorMsg {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Sign Up</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Company Name: </label>
        {{form.username}}
        <br><br>

        <label for="email">Email Address: </label>
        {{form.email}}
        <br><br>

        <label for="password1">Password1: </label>
        {{form.password1}}
        <br><br>

        <label for="password2">Password2: </label>
        {{form.password2}}
        <br><br>

        <!-- Error Messages are here -->
        <div class="errorMsg">
            {{form.errors}}
        </div>

        <input type="submit" name="create user">
    </form>

    <br>
    <span>Already have an account? </span>
    <a href="{% url 'login' %}">login</a>
</body>

</html>